aiohttp==3.10.2
dateparser==1.2.0
dblpy==0.4.0
discord.py==2.3.2
motor==3.4.0
pytz==2024.1
regex==2024.5.15
requests==2.32.3
Unidecode==1.3.8
websockets==12.0
matplotlib==3.7.4
multidict==6.0.5
pymongo==4.7.2
numpy==1.26.4
six==1.16
topggpy==1.4.0
